    .square {
    width: 5%;
    background: black;
    border: 2px solid rebeccapurple;
    padding-bottom: 5%;
    float: left;
    margin: 1%;
    }

		body {
			background: black;
		}

		#container {
			width: 90%;
			margin: 0 auto;
		}

		.square:hover{
			background: black;
			transition: all .1s;
			border: 2px solid rebeccapurple;
			border-radius: 50%;
		}
		.square:not(:hover){
			transition: all 5s;
		}

		.square:active {
			background: magenta;
			border: 2px solid magenta;
		}

		.none {
			background: black;

			border: 2px solid black;
		}

		p {
			color: white;
		}
